

nav {
    background-color: rgb(255, 193, 106);
}

#toolbar {
    border-right: 2px solid rgb(229, 229, 229);
    height: calc(100vh - 55px);
    overflow-y: auto;
}
#btn-generate,#btn-copy{
    background-color: aliceblue;
    color: rgb(255, 193, 106);
}
#btn-generate:active,#btn-generate:hover,#btn-copy:active,#btn-copy:hover{
    background-color: rgb(133, 210, 66);
    color:aliceblue;
}
#btn-generate svg{
    fill: rgb(255, 193, 106);
}
#btn-generate:active svg,#btn-generate:focus svg,#btn-generate:hover svg{
    fill:aliceblue;
}
#items{
    height: 100% !important;
}
input {
    background-color: rgb(241, 241, 241);
    border-radius: 10px;
    padding: 2px 5px;
}
#flush-collapseStreamer{
    justify-content: center;
}
.coloris{
    color: black;
}
html{
    min-width: 1159px;
    /* cursor: url(../assets/มือแมว.png), auto; */
    /* cursor: grab; */
}
.arrow-dropdown:active svg{
    background-color: rgb(220, 220, 220);
}
.arrow-dropdown svg{
    fill: transparent !important;
}


#ruleAlert{
    background-color: rgba(0, 0, 0, 0.23);
    height: 100vh;
    width: 100vw;
    position: absolute;
    top: 0px;
    justify-content: center;
    align-items: center;
    display: visible;
}
#ruleAlert .box-content{
    background-color: rgb(255, 205, 105);
    width: 50vw;
    /* max-width: 800px; */
    min-width: 400px; /* ปรับขนาดตามเนื้อหา */
  margin: 0 auto; /* จัดกึ่งกลางแนวนอน */
  position: relative; /* กำหนดตำแหน่งสัมพัทธ์ */
  top: 50%;
  padding: 20px 40px;
  transform: translateY(-50%); 
  justify-content: center;
}
#ruleText{
    position: relative;
    margin-left: 20px;
}
#btn-agree{
    font-size: 24px;
    font-weight: bold;
    background-color: white;
    padding: 5px 20px;
    border-radius: 10px;
    margin-top: 20px;
    color: rgb(255, 205, 105);
}
#btn-agree:active, #btn-agree:hover{
    background-color: rgb(133, 210, 66);
    color: white;
}
